body	{font-family: Arial, Centaur, "Century Gothic";
	font-size: 11pt;
	background:#bfd62b;
	width: 1750px;}
h2 { 
	color: blue;}

li.navigation	{display: inline;
			list-style-type: none;
			background-color:;
			color:;
			}
				
img.Logo {
		width:500px;
		height:200px;
		padding: 10px;
			}
ul.Media {
		float: right;
		width:200px
		 
	}
div.footerer{ display: inline;
		width:1750px;
		bottom:2px;
		position: absolute;
		border: 3px solid #111111
		list-style-type:none;
		}
.ServicesFooter{
		: center;
		color: red;
		
				}	
.request{
		width: 200px;
		float: right;
		padding:3px;
		position:relative;
		}
.News{border: 3px solid #111111;
	position:relative;
	

}
.upcoming{border: 3px solid #111111;
		float:left;
		width: 100px;
		position:relative;
		

}
.Past{border: 3px solid #111111;
	float: right;
	width: 100px;
	position: relative;
	

}
